.idea/
__pycache__/
.pytest_cache/
*.pyc

_0_testing_note/
0_testing_note/

Data/ohlcv/_research_data/
Data/ohlcv/_live_data/

Alpha/AlphaRepo
Alpha/TradingAlpha
Alpha/ResearchAlpha

Alpha_Repo/
Backtest/alpha_position/

Trading/AlphaInUse/